.todoform {
  margin: 0 auto;
  margin-top: 1.5rem;
  width: 500px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgb(198, 108, 108);
  display:flex;
}
.inputform {
  display: block;
  width: 100%;
  border: none;
}
.inputform:focus {
  outline: none;
}
.add{
  padding:10px;
  width:7rem;
  font-size:1rem;
  border-radius:5px;
  outline:none;
  background-color:yellow;
  color:black;
  font-weight:bold;
}
